table{
    border: 1px solid black;
    background-color: blue;
}
tr{
    border: 1px solid black;
    background-color: pink;
}
td{
    border: 1px solid black;
}
th{
    background-color: white;
    border: 1px solid black;
}